<form [formGroup]="registerFg" (ngSubmit)="registerFg.valid && register()">
    <div class="content">
        <h1> ثبت نام کاربر جدید</h1>



        <mat-form-field appearance="outline">
            <mat-label>ایمیل</mat-label>
            <input type="email" formControlName="emailCtrl" lable="Email" placeholder="ایمیل خود را وارد کنید" matInput>
            <mat-hint>Your email will be used as your username</mat-hint>
            <mat-error *ngIf="EmailCtrl.hasError('required')">This field is required.</mat-error>
            <mat-error *ngIf="EmailCtrl.hasError('pattern')">Enter a valid email.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>پسورد</mat-label>
            <input type="password" formControlName="passwordCtrl"lable ="Password" placeholder="پسورد خود را وارد کنید" matInput>
            <mat-error *ngIf="PasswordCtrl.hasError('required')">This field is required.</mat-error>
            <mat-error *ngIf="PasswordCtrl.hasError('minlength')">It's too short. Min: 7 characters.</mat-error>
            <mat-error *ngIf="PasswordCtrl.hasError('maxlength')">It's too long. Max: 20 characters.</mat-error>
        </mat-form-field>
        <mat-form-field>
            
        <mat-form-field appearance="outline">
            <mat-label>بازیابی رمز عبور</mat-label>
            <input type="password" formControlName="nameCtrl" labale="ConfirmPassword" placeholder="پسورد خود را مجدد وارد کنید" matInput>
            <mat-error *ngIf="ConfirmPasswordCtrl.hasError('required')">This field is required.</mat-error>
            <mat-error *ngIf="ConfirmPasswordCtrl.hasError('minlength')">It's too short. Min: 7 characters.</mat-error>
            <mat-error *ngIf="ConfirmPasswordCtrl.hasError('maxlength')">It's too long. Max: 20 characters.</mat-error>
         </mat-form-field>

            <mat-label>شهر </mat-label>
            <mat-select formControlName="cityCtrl">
                <mat-option *ngFor="let city of cities" [value]="city">
                    {{city}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button type="submit" [disabled]="registerFg.invalid" mat-raised-button color="primary"> ثبت نام </button>

        <!-- Other Errors -->
    <p *ngIf="passowrdsNotMatch">Passwords don't match!</p>
    <p *ngIf="apiErrorMessage">{{apiErrorMessage}}</p>
    </div>
    
</form>