<div class="header">
  <div class="menu-header">
    <a mat-button routerLink="aboutus">
      درباره ی ما
    </a>
   
    <button mat-button [matMenuTriggerFor]="menu" >
      
      محصولات
      
      <mat-menu #menu="matMenu">
       
       
        <div class="sub-menu">
          <a mat-button routerLink="mare-vitamin-supplement">
            مکمل ویتامینه ومواد معدنی مادیان
          </a>
          <a mat-button routerLink="colt-vitamin-supplement">
            مکمل ویتامینه و مواد معدنی کره اسب
          </a>
          <a mat-button routerLink="sport-horses-vitamin-supplement">
            مکمل ویتامینه و مواد معدنی اسب ورزشی
          </a>
          <a mat-button routerLink="hoof-maker-supplement">
            مکمل سم اسب
          </a>
          <a mat-button routerLink="joint-supplement">
            مکمل مفاصل اسب
          </a>
          <a mat-button routerLink="mushromix">
            مکمل تقویت سیستم ایمنی اسب
          </a>
          <a mat-button routerLink="multi-enzyme-supplement">
            مکمل مولتی آنزیم اسب
          </a>
        </div>
        
      </mat-menu>
      <mat-icon role="img" aria-hidden="true" data-mat-icon-type="font">arrow_drop_down
      </mat-icon>
    </button>

    <a mat-button routerLink="vian-ambassadors">
      سفیران ویان
    </a>
    <a mat-button routerLink="contactus">
      تماس با ما
    </a>
  </div>
  <div class="img-header">
    <a routerLink="/" class="brand">
      <img routerLink="" src="../../../assets/logo/logo1 (1).png" alt="مکمل های اسب">
  </a>
  </div>
</div>
<div class="elementor-spacer-inner"></div>