<nav>
    <mat-toolbar>
        <button *ngIf="user$ | async as user; else loginRegisterSection" [mat-menu-trigger-for]="appMenu" class="menu-button"
            mat-mini-fab>
            <!-- <button (click)="logout()" mat-raised-button color="warn">Logout</button> -->
            <span>{{user.email[0] | titlecase}}</span>
        </button>

        <ng-template #loginRegisterSection class="reglogin">
            <button routerLink="register" mat-raised-button>ثبت نام</button>
            <button routerLink="login" mat-raised-button>ورود</button>
        </ng-template>

        <mat-menu #appMenu [class]="'mat-menu'">
            <!-- Profile -->
            <div *ngIf="user$ | async as user" class="user-info">
                <p>
                    {{user.email[0] | titlecase}}
                </p>
                <div>
                    <p>{{user.email}}</p>
                </div>
            </div>
            <!-- Navigation -->
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item>
                    <div routerLink="/member/edit" mat-button class="menu-items">
                        <mat-icon>edit_note</mat-icon>
                        Edit Profile
                    </div>
                </mat-list-item>
                <mat-list-item [routerLink]="['/member/get-all']" routerLinkActive="router-link-active">
                    <div class="menu-items">
                        <mat-icon>flaky</mat-icon>
                        All Members
                    </div>
                </mat-list-item>
                <mat-list-item [routerLink]="['/message/inbox']" routerLinkActive="router-link-active">
                    <div class="menu-items">
                        <mat-icon>assignment_returned</mat-icon>
                        Messages
                    </div>
                </mat-list-item>
            </mat-list>

            <mat-divider></mat-divider>
            <div class="logout">
                <button mat-raised-button (click)="logout()">Logout</button>
            </div>
        </mat-menu>
    </mat-toolbar>
</nav>