<div class="aboutus">
    <h1>ویان دوستدار اسبها:</h1>
    <p>شرکت ویان ژن فارمد  با بهره گیری از الگوهای مدرن تولید و تجارت و با همکاری شرکای داخلی و خارجی، طیف گسترده ای از فرآورده های سلامت را به صنعت دام و طیور کشور عرضه می نماید. فرآورده های دارویی دامی و مکملهای غذایی برای انواع دام ، طیور و آبزیان، به عنوان محصولات هدف برای این شرکت درنظر گرفته شده است.</p>
    <h1>
        توزیع در سراسر جهان:
    </h1>
    <p>
        تلاش متخصصین این شرکت بر آنست تا با بکارگیری مواد اولیه مرغوب و فرایندهای معتبر تولید، فرآورده هایی با فرمولاسیون و کیفیت مناسب برای بازارهای داخل و خارج کشور ارائه نمایند. در حال حاضر، محصولات این شرکت با الگوی تولید قراردادی در سایت های معتبر داخل و خارج از کشور فرآوری و در بازارهای داخل و خارج عرضه می گردد. 
    </p>
    <h1>
        تعهد کیفیت ما:
    </h1>
    <p>
        فرآورده های تولیدی این شرکت، در قالب فرمولاسیونهای مطلوب و اشکال دارویی متنوع، با هدف جلب نظر مصرف کنندگان در بازار ایرانی و کشورهای منطقه عرضه شده است و برنامه شرکت ویان ژن فارمد، توسعه بازارهای صادراتی و معرفی فرآورده های با کیفیت برگرفته از دانش بین المللی و تجربه ایرانی به بازارهای منطقه ایست. 
    </p>
</div>

