<form [formGroup]="loginFg" (ngSubmit)="loginFg.valid && login()">
    <div class="content">
      <h1>ورود به حساب کاربری</h1>
  
      <mat-form-field appearance="outline">
        <mat-label>ایمیل</mat-label>
        <input type="email" formControlName="emailCtrl" label="Email" placeHolder="ایمیل خود را وارد کنید" matInput>
        <mat-hint>Your email will be used as your username</mat-hint>
        <mat-error *ngIf="EmailCtrl.hasError('required')">This field is required.</mat-error>
        <mat-error *ngIf="EmailCtrl.hasError('pattern')">Enter a valid email.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>پسورد</mat-label>
        <input type="password" formControlName="passwordCtrl" label="Password" placeHolder="پسورد خود را وارد کنید" matInput>
        <mat-error *ngIf="PasswordCtrl.hasError('required')">This field is required.</mat-error>
        <mat-error *ngIf="PasswordCtrl.hasError('minlength')">It's too short. Min: 7 characters.</mat-error>
        <mat-error *ngIf="PasswordCtrl.hasError('maxlength')">It's too long. Max: 20 characters.</mat-error>
      </mat-form-field>
  
      <button type="submit" [disabled]="loginFg.invalid"  mat-raised-button color="primary">Login</button>
      
      <a routerLink="/register">ثبت نام کاربر جدید</a>
      <!-- Other Errors -->
      <p *ngIf="apiErrorMessage">{{apiErrorMessage}}</p>
    </div>
  </form>